.slide-16-9-1,
.slide-16-9-1 * {
  box-sizing: border-box;
}
.slide-16-9-1 {
  background: #ffffff;
  height: 2791px;
  position: relative;
  overflow: visible;
}
.wireframe-1 {
  background: #ffffff;
  width: 1280px;
  height: 2775px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.image-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: auto;
  top: auto;
  object-fit: cover;
}
.line-6 {
  border-style: solid;
  border-color: #2808e8;
  border-width: 6px 0 0 0;
  width: 412px;
  height: 0px;
  position: absolute;
  left: 58px;
  top: 1782px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.line-7 {
  border-style: solid;
  border-color: #2808e8;
  border-width: 1px 0 0 0;
  width: 302.05px;
  height: 0px;
  position: absolute;
  left: 54px;
  top: 1539px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-8 {
  border-style: solid;
  border-color: #2808e8;
  border-width: 1px 0 0 0;
  width: 302.05px;
  height: 0px;
  position: absolute;
  left: 50px;
  top: 1010px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-9 {
  border-style: solid;
  border-color: rgba(40, 8, 232, 0.79);
  border-width: 1px 0 0 0;
  width: 302.05px;
  height: 0px;
  position: absolute;
  left: 54px;
  top: 1480px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-11 {
  border-style: solid;
  border-color: #2808e8;
  border-width: 1px 0 0 0;
  width: 302.05px;
  height: 0px;
  position: absolute;
  left: 54px;
  top: 1656px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-12 {
  border-style: solid;
  border-color: #2808e8;
  border-width: 1px 0 0 0;
  width: 302.05px;
  height: 0px;
  position: absolute;
  left: 54px;
  top: 1727px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-10 {
  border-style: solid;
  border-color: #2808e8;
  border-width: 1px 0 0 0;
  width: 302.05px;
  height: 0px;
  position: absolute;
  left: 54px;
  top: 1597px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.hi-i-am-arshpreet-singh-virk-from-punjab-india-i-am-currently-an-international-student-in-canada-studying-associate-of-science-in-capilano-university-i-am-very-passionate-about-computers-and-how-computers-work-i-am-always-curious-to-know-more-and-more-about-these-things-and-thats-about-me {
  color: #2808e8;
  text-align: left;
  position: absolute;
  left: 34px;
  top: 371px;
  width: 532px;
  height: 217px;
  overflow: visible;
}
.hi-i-am-arshpreet-singh-virk-from-punjab-india-i-am-currently-an-international-student-in-canada-studying-associate-of-science-in-capilano-university-i-am-very-passionate-about-computers-and-how-computers-work-i-am-always-curious-to-know-more-and-more-about-these-things-and-thats-about-me-span {
  color: #2808e8;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 27px;
  font-weight: 400;
}
.hi-i-am-arshpreet-singh-virk-from-punjab-india-i-am-currently-an-international-student-in-canada-studying-associate-of-science-in-capilano-university-i-am-very-passionate-about-computers-and-how-computers-work-i-am-always-curious-to-know-more-and-more-about-these-things-and-thats-about-me-span2 {
  color: #2808e8;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.ellipse-1 {
  width: 265px;
  height: 284px;
  position: absolute;
  left: -2px;
  top: 39px;
  overflow: visible;
}
.programming-languages-learning {
  color: #2808e8;
  text-align: left;
  position: absolute;
  left: 41px;
  top: 786px;
  width: 383px;
  height: 57px;
}
.programming-languages-learning-span {
  color: #2808e8;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
.programming-languages-learning-span2 {
  color: #2808e8;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.line-1 {
  border-style: solid;
  border-color: #2808e8;
  border-width: 6px 0 0 0;
  width: 412px;
  height: 0px;
  position: absolute;
  left: 54px;
  top: 1255px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.line-2 {
  border-style: solid;
  border-color: #2808e8;
  border-width: 1px 0 0 0;
  width: 302.05px;
  height: 0px;
  position: absolute;
  left: 54px;
  top: 1412px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-3 {
  border-style: solid;
  border-color: #2808e8;
  border-width: 1px 0 0 0;
  width: 301.01px;
  height: 0px;
  position: absolute;
  left: 55px;
  top: 1102px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-4 {
  width: 303px;
  height: 0px;
  position: absolute;
  left: 49.5px;
  top: 1160.5px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.line-5 {
  border-style: solid;
  border-color: #2808e8;
  border-width: 1px 0 0 0;
  width: 302.03px;
  height: 0px;
  position: absolute;
  left: 54px;
  top: 1228px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.python {
  color: #2808e8;
  text-align: left;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 60px;
  top: 944px;
  width: 282px;
  height: 38px;
}
.ht-ml {
  color: #2808e8;
  text-align: left;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 59px;
  top: 1038px;
  width: 259px;
  height: 64px;
}
.c {
  color: #2808e8;
  text-align: left;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 69px;
  top: 1115px;
  width: 229px;
  height: 37px;
}
.javascript {
  color: #2808e8;
  text-align: left;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 59px;
  top: 1181px;
  width: 177px;
  height: 38px;
}
.transparent-github-icon-black-and-white-hexagonal-image-with-fw-65-cb-0-d-525-a-3253-1 {
  width: 27px;
  height: 28.62px;
  position: absolute;
  left: 1107px;
  top: 2744px;
  object-fit: cover;
}
.https-github-com-arsh-20004 {
  color: #000000;
  text-align: left;
  font-family: "Abel-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1151px;
  top: 2741px;
  width: 142px;
  height: 34px;
}
.comp-165-labs {
  color: #2808e8;
  text-align: left;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 65px;
  top: 1297px;
  width: 437px;
  height: 62px;
}
.l-ab-1 {
  color: #2808e8;
  text-align: left;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 65px;
  top: 1359px;
  width: 154px;
  height: 50px;
}
.l-ab-2 {
  color: #2808e8;
  text-align: left;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 65px;
  top: 1421px;
  width: 154px;
  height: 50px;
}
.l-ab-3 {
  color: #2808e8;
  text-align: left;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 65px;
  top: 1480px;
  width: 154px;
  height: 50px;
}
.l-ab-4 {
  color: #2808e8;
  text-align: left;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 65px;
  top: 1539px;
  width: 154px;
  height: 50px;
}
.l-ab-6 {
  color: #2808e8;
  text-align: left;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 65px;
  top: 1668px;
  width: 154px;
  height: 50px;
}
.l-ab-5 {
  color: #2808e8;
  text-align: left;
  font-family: "Koulen-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 65px;
  top: 1602px;
  width: 154px;
  height: 50px;
}
.arshh-1 {
  width: 313px;
  height: 241px;
  position: absolute;
  left: -67px;
  top: 57px;
  object-fit: cover;
}
